@if (userDetails) {
    <img [src]="userDetails.image" alt="err">
<p><b>Image:</b> {{ userDetails.image }}</p>
<p><b>firstName:</b> {{ userDetails.firstName }}</p>
<p><b>lastName:</b> {{ userDetails.lastName }}</p>
<p><b>gender:</b> {{ userDetails.gender }}</p>
<p><b>phoneNo:</b> {{ userDetails.phoneNo }}</p>
<p><b>email:</b> {{ userDetails.email }}</p>
<p><b>designation:</b> {{ userDetails.designation }}</p>
<p><b>dob:</b> {{ userDetails.dob }}</p>
<p><b>age:</b> {{ userDetails.age }}</p>
<p><b>country:</b> {{ userDetails.country }}</p>
<p><b>state:</b> {{ userDetails.state }}</p>
<p><b>city:</b> {{ userDetails.city }}</p>
<p><b>pinCode:</b> {{ userDetails.pinCode }}</p>
}