<main id="main-content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Employee-Management-System</span>
      <span class="example-spacer"></span>
      @if (token != (null || undefined || '')) {
      <button mat-icon-button [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
      </button>
      }
      @else {
      <button mat-icon-button [routerLink]="['/info']">
        <mat-icon>account_circle</mat-icon>
      </button>
      }
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</main>